@{
    ViewBag.Title = "404 - Not Found".ToUpper();
}
<div class="container relative">
    <div class="row back-error-img">
      
            <h3 class="text-uppercase bold">@Resource.NotFound</h3>
  
    </div>
  
    @Html.Partial("Widgets/_PayCardPartial")
</div>
