@{
    ViewBag.Title = "500 - Server Error";
}
<div class="container relative">
    <div class="row back-error-img">
        <h3 class="text-uppercase bold">@Resource.Error</h3>
   </div>

    @Html.Partial("Widgets/_PayCardPartial")
</div>
