<div class="navbar navbar-default">
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Index", "Main", new { area = String.Empty })">Exit</a></li>
        </ul>
    </div>
</div>
