<div class="navbar navbar-default menu-static">
    <div>
        <i class="glyphicon glyphicon-transfer navbar-brand-glyph"></i>
        <ul class="nav navbar-nav">
            <li><a ui-sref="goods-state">goods</a></li>
            <li><a ui-sref="users-state">users</a></li>
            <li><a ui-sref="#">category</a></li>
            <li><a ui-sref="log-state">log</a></li>
        </ul>
    </div>
</div>
