@*add image*@

    <div id="image-upload" ng-controller="ctrlUpload" class="col-xs-12">
    <div class="row">
        <div ng-show="currentItem.item.goodId!=null || !mode.isEdit">
            <button class="btn btn-primary btn-sm margin-top" ng-click="selectFile($event);$event.stopPropagation();">
                Upload&nbsp;<i class="glyphicon glyphicon-open"></i>
            </button>
            <button class="btn btn-primary btn-sm margin-top" ng-click="uploadAll()" ng-disabled="(files|filter:{upload:false}).length==0">Save all&nbsp;<i class="glyphicon glyphicon-floppy-saved"></i></button>

            <button class="btn btn-danger btn-sm margin-top" ng-click="clear()" ng-disabled="(files|filter:{upload:false}).length==0">Clear&nbsp;<i class="glyphicon glyphicon-trash"></i></button>

            <input ng-hide="true" type="file" id="uploadImage" multiple ng-cloak />
        </div>
    </div>
    <div id="container" class="row" upload-image files="files" current-item="currentItem.item">

    </div>
</div>

